
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Abhishek Murthy</h5>
                        <a href="https://www.linkedin.com/in/abhishek-murthy-4bba88203/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Adarsh J</h5>
                        <a href="https://www.linkedin.com/in/adarsh-j-273bba236" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Addala Akash Varma</h5>
                        <a href="https://www.linkedin.com/in/akash-varma-addala-7b071421a/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Adhiraj Singh Chauhan</h5>
                        <a href="https://www.linkedin.com/in/adhirajchauhan/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Agrima Tripathi</h5>
                        <a href="https://www.linkedin.com/in/agrima-tripathi-233m" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Aishwarya Arvapalli</h5>
                        <a href="https://www.linkedin.com/in/aishwarya-arvapalli-851979175" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Alisa banerjee</h5>
                        <a href="http://linkedin.com/in/alisa-banerjee-9b3589235/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Alwin Shaji Koshy</h5>
                        <a href="https://www.linkedin.com/in/alwin-s-k-301793234" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Amaan Mohd Syed</h5>
                        <a href="https://www.linkedin.com/in/amaan-mohd-syed-116507217/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ananay Gupta</h5>
                        <a href="https://www.linkedin.com/in/ananay-gupta-2944aa216/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Anand Kholwadiya</h5>
                        <a href="http://www.linkedin.com/in/anand-kholwadiya-06107a225" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ananya shekhar</h5>
                        <a href="https://www.linkedin.com/in/ananya-shekhar-182734230/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ansh Goenka</h5>
                        <a href="https://www.linkedin.com/in/anshgoenka" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ansh Verma</h5>
                        <a href="" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Anushk Pandey</h5>
                        <a href="https://www.linkedin.com/in/anushk-pandey-b85a631b3/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Archit Patro</h5>
                        <a href="https://www.linkedin.com/in/archit-patro-8bb6b7236" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Aryaman Awasthi</h5>
                        <a href="https://www.linkedin.com/in/aryaman-awasthi/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Asim Nepal</h5>
                        <a href="https://www.linkedin.com/in/asim-nepal-6689b5202/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ayush</h5>
                        <a href="" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ayushi Sinha</h5>
                        <a href="https://www.linkedin.com/in/ayushi-sinha-aa17a2236/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Camelia Ganguly</h5>
                        <a href="https://www.linkedin.com/in/camelia-ganguly-995634222/"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Dushyant</h5>
                        <a href="https://www.linkedin.com/in/dushyant-bhardwaj-a6453b116/ "></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Eshan Ratnesh Srivastava </h5>
                        <a href="https://www.linkedin.com/in/eshanrs/ "></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Girish Murugan </h5>
                        <a href="https://www.linkedin.com/in/girish0606/ "></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Gowtham kartikeyan </h5>
                        <a href="https://www.linkedin.com/in/inboxsgk/"> </ a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Himika Bhagwat </h5>
                        <a href="https://www.linkedin.com/in/himikabhagwat05/ "></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Isha Rathee </h5>
                        <a href="https://www.linkedin.com/in/isha-rathee-1777011b4/ "></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ishaan Purohit</h5>
                        <a href="https://www.linkedin.com/in/ishaan-purohit-779742230/"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>ISHANK BHATNAGAR</h5>
                        <a href="https://www.linkedin.com/in/ishank-bhatnagar-8033a0217/"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Nakshatra Singh Raghav</h5>
                        <a href="https://www.linkedin.com/in/nakshatra-raghav-b5504121a/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Nandakumar Loganathan</h5>
                        <a href="https://www.linkedin.com/in/nandakumar-loganathan-379533226" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Neelanjan Mukherjee</h5>
                        <a href="" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Nimisha Kumari</h5>
                        <a href="https://www.linkedin.com/in/nimisha-kumari-29ba22230/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Nitish Ramaraj</h5>
                        <a href="https://www.linkedin.com/in/nitish-ramaraj/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Om Desai</h5>
                        <a href="https://www.linkedin.com/in/om-desai-92a245223/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>P.Santhan varma</h5>
                        <a href="https://www.linkedin.com/in/santhan-varma-0796b7236" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Pranav D</h5>
                        <a href="https://www.linkedin.com/in/varun-sudhir-b097ab228/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Priyanshi Shah</h5>
                        <a href="linkedin.com/in/priyanshi-shah-2556aa236/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Rachit Jajoo</h5>
                        <a href="https://www.linkedin.com/in/rachit-jajoo-882a76236/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ramakrishna Naidu. Kuna</h5>
                        <a href="" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Rashmi MT</h5>
                        <a href="https://www.linkedin.com/in/rashmi-mt-674677230/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Rishab</h5>
                        <a href="https://www.linkedin.com/in/rishab-deswal-28562b214/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Ritesh Nayak</h5>
                        <a href="https://www.linkedin.com/in/ritesh-nayak-97aa79236/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Rupam Kundu</h5>
                        <a href="https://www.linkedin.com/in/rupam-kundu-9b4816216" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Sakshi Signh Chauhan</h5>
                        <a href="https://www.linkedin.com/in/saakshi-chauhan-880003217/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Sai Krishna Pranay Kasnietti</h5>
                        <a href="https://www.linkedin.com/in/pranay-kanisetty-4802611aa/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Sai Sahith Goud Bonugala</h5>
                        <a href="https://www.linkedin.com/in/sai-sahith/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Saloni Pattanayak</h5>
                        <a href="https://www.linkedin.com/in/saloni-pattanayak-330731225/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Satvik Jain</h5>
                        <a href="https://www.linkedin.com/in/satvik-jain-875944230/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Satyam Shiva,</h5>
                        <a href="https://www.linkedin.com/in/satyamsh1vam/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Shashank Nair</h5>
                        <a href="https://www.linkedin.com/in/shashaank-nair-6a9831236" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Shahank Suggala</h5>
                        <a href="https://www.linkedin.com/in/shashank-suggala-7ab488200/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Shashwat Wankhedekar</h5>
                        <a href="https://www.linkedin.com/in/shashwatwankhedekar/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Shatakshi Mohan</h5>
                        <a href="https://www.linkedin.com/in/shatakshi-mohan-39b630222" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Shinjini Sen</h5>
                        <a href="https://www.linkedin.com/in/shinjinisen-24032003" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Shruthi Krishnamoorthy</h5>
                        <a href="https://www.linkedin.com/in/shruthi-krishnamoorthy-66b5871aa/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Soumya Gupta</h5>
                        <a href="https://www.linkedin.com/in/soumya-gupta-b92156227/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Srujan Kulkarani</h5>
                        <a href="https://www.linkedin.com/in/srujan-kulkarni-6476aa222/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Suryakant Tripathi</h5>
                        <a href="https://www.linkedin.com/in/srujan-kulkarni-6476aa222/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Tanisha Chandak</h5>
                        <a href="https://www.linkedin.com/in/tanishachandak/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Taniya</h5>
                        <a href="https://www.linkedin.com/in/taniya-ahmed-507283222/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Tanmay Agarwal</h5>
                        <a href="https://www.linkedin.com/in/tanmay-agarwal-681666224" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Tanmey Vinod Khade</h5>
                        <a href="https://www.linkedin.com/in/tanmay-khade-86388422b/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Uddipan Sarkar</h5>
                        <a href="https://www.linkedin.com/in/uddipan-sarkar-457a24236/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Vaishnavi Garg</h5>
                        <a href="https://www.linkedin.com/in/vaishnavi-garg-078379216" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Vandit Vasa</h5>
                        <a href="https://www.linkedin.com/in/vandit-vasa-bb506317a/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Vanya Nandwani</h5>
                        <a href="https://www.linkedin.com/in/vanyanandwani" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Varun Sudhir</h5>
                        <a href="https://www.linkedin.com/in/varun-sudhir-b097ab228/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Vineet Salimath</h5>
                        <a href="https://www.linkedin.com/in/vineet-salimath-08b962182/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>                
                <div class="col-lg-2dot4 " align="center">
                    <div class="cardT" style="width: 250px; height: 264px;">
                      <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                      <div class="data data2">
                        <h5>Yatharth Bharadwaj</h5>
                        <a href="https://www.linkedin.com/in/yatharth-bhardwaj-0b1a77222/" target="_blank" class="fab fa-linkedin"></a>
                      </div>
                    </div>
                </div>