<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

	<title>ISTE-VIT</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135071074-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-135071074-1");
</script>

<!-- Meta Tags For SEO -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
<meta name="subject" content="ISTE-VIT" />
<meta name="description"
  content="ISTE-VIT is a reputed visionary non-profit organisation determined to impart technical knowledge to inspire solutions with innovation, passion and excellence." />
<meta name="keywords"
  content="ISTE, iste, ISTE VIT, ISTE-VIT, vit, VIT, VIT-Vellore, Vit, Iste, Vellore, Student, Chapter, Club, club, CLUB, CHAPTER, chapter, Education, India, Indian, Society, Indian Society For Technical Education" />
<meta name="copyright" content="ISTE-VIT" />
<meta name="language" content="en" />
<meta name="url" content="https://istevit.in/" />
<meta name="coverage" content="Worldwide" />
<meta name="distribution" content="Global" />
<meta name="target" content="all" />
<meta name="rating" content="General" />
<meta name="og:country-name" content="India" />
<meta name="og:region" content="India" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://istevit.in/" />
<meta name="og:site_name" content="ISTE-VIT" />
<meta property="og:title" content="ISTE-VIT" />
<meta property="og:description"
  content="ISTE-VIT is a reputed visionary non-profit organisation determined to impart technical knowledge to inspire solutions with innovation, passion and excellence." />
<meta property="og:site_name" content="ISTE-VIT" />
<meta itemprop="name" content="ISTE-VIT" />
<meta itemprop="description"
  content="ISTE-VIT is a reputed visionary non-profit organisation determined to impart technical knowledge to inspire solutions with innovation, passion and excellence." />
<link rel="canonical" href="https://istevit.in/" />

<link rel="shortcut icon" href="/public/imgs/iste-footer.png">
<link rel="stylesheet" href="https://use.typekit.net/kxo3pgz.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'><link rel="stylesheet" href="/public/css/style.css">
  <link href="https://db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A" rel="stylesheet" type="text/css"/>
  <link href="https://db.onlinewebfonts.com/c/721c73bcd2e49f3a621991089838b503?family=Euclid+Circular+B+Medium" rel="stylesheet" type="text/css"/>
  
</head>

<body class="loading">
  <!-- <div class="loader" id="loader-fade">
    <div class="loader-container">
        <ul class="loader-box">
          <div class="pre-load">
            <div id="pre-load-content">
              <div class="spinner"></div>
             
            </div>
          </div>
        </ul>
    </div>
</div> -->
<div class="cursor"></div>

  
<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="logo" src="imgs/iste-logo.png" alt/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end hidenav" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" aria-current="page" href="/#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr ltr3" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" href="/team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr ltr2" href="/gallery">Gallery</a>
        </li>
      
        <!-- <li class="nav-item">
          <a class="nav-link active" href="#contact" >CONTACT US</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

   <section class="dev-page-sec justify-content-center">
      <div class="dev-head justify-content-center"> <img class="dev-head-img" src="/public/imgs/dev.svg" alt="" srcset="">  </div>
      <div class="row justify-content-center dev-row">
        <div class=" col-lg-2dot4 " align="center">
            <div class="cardT" style="width: 250px;
height: 264px;">
              <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Hrithik_zR9eQvZ-O.jpeg?updatedAt=1633957122722" alt="" />
              <div class="data ">
                <h5>Hrithik Purwar</h5>
                <i>Designer</i><br>

                <a href="https://www.linkedin.com/in/hrithikpurwar/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
          </div>

          <div class=" col-lg-2dot4" align="center">
            <div class="cardT" style="width: 250px;
height: 264px;">
              <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Sahil_s8F1HOP4P1x.jpg?updatedAt=1633957138065" alt="" />
              <div class="data">
                <h5>Sahil Kaling</h5>
                <i>Developer</i><br>

                <a href="https://www.linkedin.com/in/sahil-kaling-5383641b8/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
          </div>

          <div class=" col-lg-2dot4" align="center">
            <div class="cardT" style="width: 250px;
height: 264px;">
              <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Suhani_sMknQPNoR.jpeg?updatedAt=1633957145423" alt="" />
              <div class="data ">
                <h5>Suhani Bajaj</h5>
                <i>Developer</i><br>

                <a href="https://www.linkedin.com/in/suhani-bajaj-654243200/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
    height: 264px;">
                  <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/vaibhav_RIglFIkeZ.jpg?updatedAt=1633776913368" alt="" />
                  <div class="data">
                    <h5>Vaibhav Chopra</h5>
                    <i>Mentor</i><br>
                    <a href="https://www.linkedin.com/in/vc2001/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
              </div>
              <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
    height: 264px;">
                  <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/abeer_kSMiPDeXvzSP.jpg?updatedAt=1633776905463" alt="" />
                  <div class="data">
                    <h5>Abeer Aftab</h5>
                    <i>Mentor</i><br>
                    <a href="https://www.linkedin.com/in/abeer-aftab-00274719a/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
             </div>
             <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
      height: 264px;">
                  <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/manasvi_nKFFkVx86DR.jpg?updatedAt=1633776910869" alt="" />
                  <div class="data ">
                    <h5>Manasvi Alimchandani</h5>
                    <i>Mentor</i><br>
                    <a href="https://www.linkedin.com/in/manasvi-alimchandani-934b49197/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
             </div>
             <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
    height: 264px;">
                  <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/lakshit_T2yahTWOUMU.jpg?updatedAt=1633776910087" alt="" />
                  <div class="data">
                    <h5>Lakshit Kothari</h5>
                    <i>Mentor</i><br>
                    <a href="https://www.linkedin.com/in/lakshit-kothari-6569531a1/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
             </div>
          </div>
      </div>

   </section>

 
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
       <script src="/public/js/index.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script >
         </script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js'></script>
 <script>

const updateProperties = (elem, state) => {
  elem.style.setProperty('--x', `${state.x}px`)
  elem.style.setProperty('--y', `${state.y}px`)
  elem.style.setProperty('--width', `${state.width}px`)
  elem.style.setProperty('--height', `${state.height}px`)
  elem.style.setProperty('--radius', state.radius)
  elem.style.setProperty('--scale', state.scale)
}

document.querySelectorAll('.cursor').forEach(cursor => {
  let onElement

  const createState = e => {
    const defaultState = {
      x: e.clientX,
      y: e.clientY,
      width: 40,
      height: 40,
      radius: '50%'
    }

    const computedState = {}

    if (onElement != null) {
      const { top, left, width, height } = onElement.getBoundingClientRect()
      const radius = window.getComputedStyle(onElement).borderTopLeftRadius

      computedState.x = left + width / 2
      computedState.y = top + height / 2
      computedState.width = width
      computedState.height = height
      computedState.radius = radius
    }

    return {
      ...defaultState,
      ...computedState
    }
  }

  document.addEventListener('mousemove', e => {
    const state = createState(e)
    updateProperties(cursor, state)
  })

})

   
   var loader = document.getElementById("loader-fade");


window.addEventListener ("load", function() {
  document.body.classList.remove('loading');

});

$(".navbar-collapse a").click(function () {
    $(".navbar-collapse").toggleClass("hidenav");
  });

  $(".navbar-toggler").click(function () {
    $(".navbar-collapse").toggleClass("hidenav");
  });


    </script>
    </body>

</html>
