<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ISTE-VIT</title>
	<meta name="description" content="An experimental circular SVG text animation">
	<meta name="keywords" content="animation, svg, text, typography, intro, javascript">
	<meta name="author" content="Codrops">
	<link rel="shortcut icon" href="favicon.26242483.ico">
	<link rel="stylesheet" href="https://use.typekit.net/kxo3pgz.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
  <link href="//db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/721c73bcd2e49f3a621991089838b503?family=Euclid+Circular+B+Medium" rel="stylesheet" type="text/css"/>
  
</head>

<body >
  <div class="loader" id="loader-fade">
    <div class="loader-container">
        <ul class="loader-box">
          <div class="pre-load">
            <div id="pre-load-content">
              <div class="spinner"></div>
             
            </div>
          </div>
        </ul>
    </div>
</div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img class="logo" src="imgs/iste-logo.png" alt/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/#about">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/team">OUR TEAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/gallery">GALLERY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/events">EVENTS</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" href="#contact" >CONTACT US</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>

   <section class="events-page">
       <div class="events-page-sec">
        <div class="horizon-events horr">
            <div class="horizon-logo">
                <img src="/public/imgs/event-imgs/horizon.png" class="horii-logo" alt="" srcset="">
            </div>
            <div class="row event-banner-group ">
                <div class="col-lg-4 ">
                  <div class="image">
                    <img class="image__img event-banner" src="/public/imgs/event-imgs/Technica_thumb.png" alt="Bricks">
                    <div class="image__overlay image__overlay--primary">
                        
                        <p class="image__description">
                            Event Description here.
                        </p>
                    </div>
                </div>
                  </div>
                  <div class="col-lg-4 ">
                    <div class="image">
                      <img class="image__img event-banner" src="/public/imgs/event-imgs/Code_Asymptoe.png" alt="Bricks">
                      <div class="image__overlay image__overlay--primary">
                          
                          <p class="image__description">
                              Event Description here.
                          </p>
                      </div>
                  </div>
                    </div>
                    <div class="col-lg-4 ">
                      <div class="image">
                        <img class="image__img event-banner" src="/public/imgs/event-imgs/Automate_thumb.png" alt="Bricks">
                        <div class="image__overlay image__overlay--primary">
                            
                            <p class="image__description">
                                Event Description here.
                            </p>
                        </div>
                    </div>
                      </div>
                      <div class="col-lg-4 ">
                        <div class="image">
                          <img class="image__img event-banner" src="/public/imgs/event-imgs/Webdev_thumb.png" alt="Bricks">
                          <div class="image__overlay image__overlay--primary">
                             
                              <p class="image__description">
                                  Event Description here.
                              </p>
                          </div>
                      </div>
                        </div>
                        <div class="col-lg-4 ">
                          <div class="image">
                            <img class="image__img event-banner" src="/public/imgs/event-imgs/Photonix_thumb.png" alt="Bricks">
                            <div class="image__overlay image__overlay--primary">
                               
                                <p class="image__description">
                                    Event Description here.
                                </p>
                            </div>
                        </div>
                          </div>
            </div>
        </div>
        <div class="horizon-events horr">
          <div class="horizon-logo">
              <img src="/public/imgs/event-imgs/gravitas-logo.png" class="horii-logo" alt="" srcset="">
          </div>
          <div class="row event-banner-group ">
              <div class="col-lg-4 ">
                <div class="image">
                  <img class="image__img event-banner" src="/public/imgs/event-imgs/digital_analytics.png" alt="Bricks">
                  <div class="image__overlay image__overlay--primary">
                      
                      <p class="image__description">
                          Event Description here.
                      </p>
                  </div>
              </div>
                </div>
                <div class="col-lg-4 ">
                  <div class="image">
                    <img class="image__img event-banner" src="/public/imgs/event-imgs/appdev_thumb.png" alt="Bricks">
                    <div class="image__overlay image__overlay--primary">
                        
                        <p class="image__description">
                            Event Description here.
                        </p>
                    </div>
                </div>
                  </div>
                  <div class="col-lg-4 ">
                    <div class="image">
                      <img class="image__img event-banner" src="/public/imgs/event-imgs/firebase_thumb.png" alt="Bricks">
                      <div class="image__overlay image__overlay--primary">
                          
                          <p class="image__description">
                              Event Description here.
                          </p>
                      </div>
                  </div>
                    </div>
                    <div class="col-lg-4 ">
                      <div class="image">
                        <img class="image__img event-banner" src="/public/imgs/event-imgs/Webdev_thumb.png" alt="Bricks">
                        <div class="image__overlay image__overlay--primary">
                           
                            <p class="image__description">
                                Event Description here.
                            </p>
                        </div>
                    </div>
                      </div>
                      <div class="col-lg-4 ">
                        <div class="image">
                          <img class="image__img event-banner" src="/public/imgs/event-imgs/Photonix_thumb.png" alt="Bricks">
                          <div class="image__overlay image__overlay--primary">
                             
                              <p class="image__description">
                                  Event Description here.
                              </p>
                          </div>
                      </div>
                        </div>
          </div>
      </div>
        <div class="horizon-events">
            <div class="horizon-logo">
                <img src="/public/imgs/event-imgs/logo-1.png" alt="" srcset="">
            </div>
            <div class="row event-banner-group justify-content-center">
              <div class="col-lg-3 ">
                <div class="image">
                  <img class="image__img event-banner" src="/public/imgs/event-imgs/automate.png" alt="Bricks">
                  <div class="image__overlay image__overlay--primary">
                      <div class="image__title">Automate.Py</div>
                      <p class="image__description">
                          Event Description here.
                      </p>
                  </div>
              </div>
                </div>
                <div class="col-lg-3 ">
                  <div class="image">
                    <img class="image__img event-banner" src="/public/imgs/event-imgs/automate.png" alt="Bricks">
                    <div class="image__overlay image__overlay--primary">
                        <div class="image__title">Automate.Py</div>
                        <p class="image__description">
                            Event Description here.
                        </p>
                    </div>
                </div>
                  </div>
                  <div class="col-lg-3 ">
                    <div class="image">
                      <img class="image__img event-banner" src="/public/imgs/event-imgs/automate.png" alt="Bricks">
                      <div class="image__overlay image__overlay--primary">
                          <div class="image__title">Automate.Py</div>
                          <p class="image__description">
                              Event Description here.
                          </p>
                      </div>
                  </div>
                    </div>
              
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="horizon-events">
              <div class="horizon-logo">
                  <img src="/public/imgs/event-imgs/gravitas-logo.png" alt="" srcset="">
              </div>
              <div class="row event-banner-group justify-content-center">
                <div class="col-lg-6 ">
                  <div class="image">
                    <img class="image__img event-banner event-banner2" src="/public/imgs/event-imgs/automate.png" alt="Bricks">
                    <div class="image__overlay image__overlay--primary">
                        <div class="image__title">Automate.Py</div>
                        <p class="image__description">
                            Event Description here.
                        </p>
                    </div>
                </div>
                  </div>
                 
              </div>
          </div>
          </div>
          <div class="col-lg-6">
            <div class="horizon-events">
              <div class="horizon-logo">
                  <img src="/public/imgs/event-imgs/gravitas-logo.png" alt="" srcset="">
              </div>
              <div class="row event-banner-group justify-content-center">
                <div class="col-lg-6 ">
                  <div class="image">
                    <img class="image__img event-banner event-banner2" src="/public/imgs/event-imgs/automate.png" alt="Bricks">
                    <div class="image__overlay image__overlay--primary">
                        <div class="image__title">Automate.Py</div>
                        <p class="image__description">
                            Event Description here.
                        </p>
                    </div>
                </div>
                  </div>
                 
              </div>
          </div>
          </div>
     
        </div>
     
       </div>

   </section>
 
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
       <script src="/public/js/index.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script >
         </script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js'></script><script  src="./script.js"></script>
 <script>
   
   $( document ).ready(function() {
  $("#loader-fade").fadeOut(500);
});

     $("body").click(function () {
    $(".navbar-collapse").collapse("hide");
  });


    </script>
    </body>

</html>