<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" name="viewport" content="width=device-width, height=device-height">
	<title>ISTE-VIT</title>
	<meta name="description" content="An experimental circular SVG text animation">
	<meta name="keywords" content="animation, svg, text, typography, intro, javascript">
	<meta name="author" content="Codrops">
	<link rel="shortcut icon" href="favicon.26242483.ico">
	<link rel="stylesheet" href="https://use.typekit.net/kxo3pgz.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>document.documentElement.className = "js"
  

var supportsCssVars = function supportsCssVars() {
  var e,
      t = document.createElement("style");
  return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
};

supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>

<body >
    <div class="wrapper">

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top hide-before" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img class="logo" src="imgs/iste_logo.png" alt/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#about">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/team">OUR TEAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/gallery">GALLERY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact" >CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="demo-1 loading" id="show" style="background-color: black;">
        <main>
          <svg class="circles" width="100%" height="100%"  viewBox="0 0 1400 1400" >
            <def>
              <path id="circle-1" d="M250,700.5A450.5,450.5 0 1 11151,700.5A450.5,450.5 0 1 1250,700.5"></path>
              <path id="circle-2" d="M382,700.5A318.5,318.5 0 1 11019,700.5A318.5,318.5 0 1 1382,700.5"></path>
              <path id="circle-3" d="M487,700.5A213.5,213.5 0 1 1914,700.5A213.5,213.5 0 1 1487,700.5"></path>
              <path id="circle-4" d="M567.5,700.5A133,133 0 1 1833.5,700.5A133,133 0 1 1567.5,700.5"></path>
            </def>
            <text class="circles__text circles__text--1" >
              <textPath class="circles__text-path" xlink:href="#circle-1" aria-label="" textLength="2830" >Frihed Kun Stadium Copenhagen&nbsp;</textPath>
            </text>
            <text class="circles__text circles__text--2">
              <textPath class="circles__text-path" xlink:href="#circle-2" aria-label="" textLength="2001">Jægerspris Infinite X Playground&nbsp;</textPath>
            </text>
            <text class="circles__text circles__text--3">
              <textPath class="circles__text-path" xlink:href="#circle-3" aria-label="" textLength="1341">Mit Valg Building Næstved&nbsp;</textPath>
            </text>
            <text class="circles__text circles__text--4">
              <textPath class="circles__text-path" xlink:href="#circle-4" aria-label="" textLength="836">Køge For Kærlighed Building VI&nbsp;</textPath>
            </text>
          </svg>
          <div class="frame">
            <h1 class="frame__title"></h1>
            <nav class="frame__links">
        
            </nav>
            <nav class="frame__demos">
              
            </nav>
          </div>
          <div class="content">
            <p></p>
          </div>
          <button class="enter" ONCLICK=" setTimeout(function(){ document.getElementById('show').style.display='none';}, 1000);">
            <div class="enter__bg"></div>
            <span class="enter__text">Enter</span>
          </button>
        </main>
      
      </div>
    <section class="about_us hide-before" id="about">
        <div class="container">
            <div class="row">
            <div class="card">
                <div class="about_us_heading">
                        About Us
            
                    <img class="design" src="imgs/about_us_logo.png" alt="" align="right"/>
                    </div>
               <div class="about_content">
                  Indian Society for Technical Education or ISTE is a national, professional, non-profit making Society registered under the Societies Registration Act of 1860. The major objective of ISTE is to assist and contribute to the production and development of top-quality professional engineers and technicians required by industries and other organizations.
               </div>
            </div>
            </div><br>
            <div class="arrow bounce" >
                <a href="#domains" style="color: white;"><i class="fas fa-angle-double-down"></i></a>
            </div>
        </div>
    </section>

    <section class="domains hide-before" id="domains">
        <div class="container">
            <div class="domain_heading">
                Domains
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="card_domains">
                  <img class="card-img-top" src="/public//imgs/29410-technical-assistance.gif" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Electrical</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card_domains">
                  <img class="card-img-top" src="/public//imgs/38436-browser.gif" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Management</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card_domains">
                  <img class="card-img-top" src="/public/imgs/57081-graphics-design-lottie-animation.gif" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Design</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 ">
              <div class="card_domains">
                <img class="card-img-top" src="/public//imgs/10836-isometric-tech-animation.gif" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Technical</p>
                </div>
              </div>
              </div>
            </div>
             <br> 
              <div class="arrow bounce" >
                <a style="color: black;" href="#projects"><i class="fas fa-angle-double-down"></i></i></a>
            </div>
        </div>
    </section>

    <section class="projects " id="projects">
            <div class="projects_heading hide-before"><span class="projects_dash">P</span>rojects</div>
  <div class="containertwo">
    <div class="row align-items-center">
      <div class="col-12 col-carousel">
        <div class="owl-carousel carousel-main project_titles">
          <div>
            <div class="col-lg-4">
              <div class="cardone">
                <img class="face face1" src="imgs/docdiff.png">
                  <div class="contentone">
                    <div class="icon">
                    </div>
                  </div>
                </img>
                <div class="face face2">
                  <div class="contentone">
                    <h3>                     
                    <p>ubewbchbrhjbueunjknkce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col-lg-4">
              <div class="cardone">
                <img class="face face1" src="imgs/codezap.png">
                  <div class="contentone">
                    <div class="icon">                     
                    </div>
                  </div>
                </img>
                <div class="face face2">
                  <div class="contentone">
                    <h3>                     
                    <p>ubewbchbrhjbueunjknkce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col-lg-4">
              <div class="cardone">
                <img class="face face1" src="imgs/shopverse.png">
                  <div class="contentone">
                    <div class="icon">                     
                    </div>
                  </div>
                </img>
                <div class="face face2">
                  <div class="contentone">
                    <h3>                     
                    <p>ubewbchbrhjbueunjknkce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col-lg-4">
              <div class="cardone">
                <img class="face face1" src="imgs/docdiff.png">
                  <div class="contentone">
                    <div class="icon">                      
                    </div>
                  </div>
                </img>
                <div class="face face2">
                  <div class="contentone">
                    <h3>                     
                    <p>ubewbchbrhjbueunjknkce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col-lg-4">
              <div class="cardone">
                <img class="face face1" src="imgs/docdiff.png">
                  <div class="contentone">
                    <div class="icon">                      
                    </div>
                  </div>
                </img>
                <div class="face face2">
                  <div class="contentone">
                    <h3>                     
                    <p>ubewbchbrhjbueunjknkce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col-lg-4">
              <div class="cardone">
                <img class="face face1" src="imgs/docdiff.png">
                  <div class="contentone">
                    <div class="icon">                      
                    </div>
                  </div>
                </img>
                <div class="face face2">
                  <div class="contentone">
                    <h3>                     
                    <p>ubewbchbrhjbueunjknkce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow bounce hide-before" >
    <a href="#webinars" style="color: white;"><i class="fas fa-angle-double-down"></i></a>
</div>
    </section> 

    <section class="webinars hide-before" id="webinars">
      <div class="webinars_heading"><span class="webinars_dash">W</span>ebinars</div>
      <div class="wrapper">
        <div class="webinar row">
            <% if(webinars != null) { %>
            <% webinars.slice(0,6).forEach(function(webinar, index) { %>
                <div class="col-lg-4 col-md-6 ytframe">
                  <iframe class="yt-frame" height="300" src= "https://www.youtube.com/embed/<%- webinar.snippet.resourceId.videoId %> " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                </div>                         
                <% }) %>
            <% } else { %>
                No posts found.
            <% } %>
        </div>
    </div> 
    <div class="arrow bounce" >
      <a href="#events" style="color: rgb(0, 0, 0);"><i class="fas fa-angle-double-down"></i></a>
  </div>
    </section>

    <section class="events " id="events">
      <div class="events_heading hide-before"><span class="events_dash">E</span>vents & <span class="events_dash">W</span>orkshop</div>
      <div class="containerthree">
  <div class="slider owl-carousel owl-theme">  
    <div class="item"><img class="events_imgs" src="imgs/webdev.png"/></div>
    <div class="item"><img  class="events_imgs" src="imgs/automate.png"/></div>
    <div class="item"><img  class="events_imgs" src="imgs/photonix.png"/></div>
    <div class="item"><img  class="events_imgs" src="imgs/codeasymptote.png"/></div>
  </div>
</div>
<div class="arrow bounce hide-before" >
  <a href="#horizon" style="color: white;"><i class="fas fa-angle-double-down"></i></a>
</div>
    </section>

    <section class="horizon hide-before" id="horizon">
      <div class="horizon_heading">Checkout Our Flagship Event</div>
      <div class="horizon_logo"><img src="imgs/horizon_logo.png"></div>
      <a href="https://horizon.istevit.in/" target="_blank" style="text-decoration: none;"> <div class="horizon_text"><span class="horizon_dash">Explore</span></div></a>
    </section>
   
    <section class="sponsors hide-before" id="sponsors">
      <div class="partners_heading"><span class="partners_dash">P</span>artners</div>
      <div class="logo-slider">
        <div class="logo-slide-track">
          <div class="slide">
            <img src="/public/imgs/Adobe_Corporate_logo 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/balalogo.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/JetBrains_Logo_2016 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/pythonlogo.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/CNSI_logo 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/Adobe_Corporate_logo 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/balalogo.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/JetBrains_Logo_2016 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/pythonlogo.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/Adobe_Corporate_logo 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/balalogo.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/JetBrains_Logo_2016 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/pythonlogo.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/Adobe_Corporate_logo 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/balalogo.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/JetBrains_Logo_2016 1.png" alt="" />
          </div>
          <div class="slide">
            <img src="/public/imgs/pythonlogo.png" alt="" />
          </div>      
        </div>
      </div>
    </section>

   <section class="contact hide-before" id="contact">
   <div class="contact-form-card">
     <div class="card-head">CONNECT WITH US</div>
     <div class="contact-form">
       <form action="">
        <div class="row" style="text-align: left;">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <input type="text" placeholder="Enter Email" class="contact-input"> 
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Enter Phone Number" class="contact-input"> 
              </div>              
              <div class="col-lg-12">
                <input type="text" placeholder="Message" class="contact-input"> 
              </div>
            </div>          
          </div>
           <div class="col-lg-6">
            <div class="col-lg-6 submit"  style="text-align: center;">
              Submit
            </div>
           </div>          
        </div>        
       </form>
     </div>
   </div>
   </section>
   <section class="footer hide-before" >
    <div class="container container-fluid py-3 "  >
      <div class="row ">
         
          <div class="col-md-4 foo" align = "left">
          <img src="imgs/iste_logos.png" class="logo_iste" alt="ISTE-VIT"></a>
            <h7>&nbsp ISTE-VIT</h7><br><br>
            <p>VIT University Vellore<br> Tamil Nadu<br> 632014<br><br></p>
            <p style = "font-size:12px;" class=" d-none d-sm-block">Copyright © 2021. ISTE-VIT<br>
All Rights Reserved.</p>
</div>
<br><br>
            <div class="col-md-4 foo"  align = "left">
            <div class="links">
              <h4 style = "font-weight: 600; ">SITE LINKS</h4>
              <a>Home</a><br>
              <a>Our Story</a><br>
              <a>Team</a><br>
              <a>Developers</a><br>
              <a>Gallery</a><br><br>
            </div>
            </div>
            <div class="col-md-4 foo"  align = "left">
              <h4 style = "font-weight: 600; ">CONTACT US</h4>
              <p><i class="fas fa-envelope "></i>&nbsp&nbsp&nbsp&nbsp iste@vit.ac.in<p>
              <p><i class=" fa fa-phone"></i>&nbsp&nbsp&nbsp&nbsp 9700449833<p>

            </div>

            <div class = "line" > </div>
               <div >
             <a href="https://www.facebook.com/ISTE.VIT" style="text-decoration: none;color: white;"><span class = "social fb"><i class="fab fa-facebook-square icon"></i></span></a>    
              <a href="https://www.instagram.com/iste_vit_vellore/" style="text-decoration: none;color: white;"><span class = "social insta"><i class="fab fa-instagram icon"></i></span></a>  
              <a href="https://github.com/ISTE-VIT/" style="text-decoration: none;color: white;"><span class = "social github"><i class="fab fa-github icon"></i></span></a>  
              <a href="https://www.youtube.com/channel/UCVRlM9S7LDPyo_mwNpBrnXg" style="text-decoration: none;color: white;"> <span class = "social link"><i class="fab fa-youtube icon"></i></span></a> 

         
               </div>
                     
                  </div>

    </div>

   </section>
</div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
	  <script src="/public/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script >
      </script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js'></script><script  src="./script.js"></script>
      
    <script>
     

$(".enter").click(function(){
  $('.carousel-main').owlCarousel({
        items: 3,
        loop: true,
        autoplay: false,
        autoplayTimeout: 1500,
        margin: 60,
        nav: true,
        dots: false,
        responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:false,
            autoplay: true,
        },
        600:{
            items:3,
            nav:true
        },
       
    },
        navText: ['<span></span>','<span class="far fa-arrow-alt-circle-right"></span>'],
      })

      var owl = $('.slider'); 
owl.on('changed.owl.carousel', function(event) { 
  owl.find('.owl-item').removeClass('prev').removeClass('next'); 
  var currentIndex      = event.item.index;  
  owl.find('.owl-item').eq(currentIndex-1).addClass('prev');
  owl.find('.owl-item').eq(currentIndex+1).addClass('next'); 
}); 
owl.owlCarousel({
  center: true,
  items:3,
  nav:false, 
  dots:false, 
  loop:true,
  margin:10,  
  autoplay: true,
  autoplaySpeed: 1500, 
});
  $('section').addClass('show-before');
  $('nav').removeClass('hide-before');
  $('div').removeClass('hide-before');
  $('.wrapper').css('overflow-y','scroll');
  $('.wrapper').css('overflow-x','hidden');
  $('.wrapper').css('position','relative');
});
    </script>
    </body>

</html>