<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ISTE-VIT</title>
	<meta name="description" content="An experimental circular SVG text animation">
	<meta name="keywords" content="animation, svg, text, typography, intro, javascript">
	<meta name="author" content="Codrops">
	<link rel="shortcut icon" href="favicon.26242483.ico">
	<link rel="stylesheet" href="https://use.typekit.net/kxo3pgz.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
  <link href="//db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/721c73bcd2e49f3a621991089838b503?family=Euclid+Circular+B+Medium" rel="stylesheet" type="text/css"/>
  <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'><link rel="stylesheet" href="./style.css">

</head>
<body class="team_body" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img class="logo" src="imgs/iste-logo.png" alt/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/#about">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/team">OUR TEAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/gallery">GALLERY</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link active" href="/#contact" >CONTACT US</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
      <div class='toggle'>
        <div class='tabs'>
          <div class='tab active'>FACULTY COORDINATORS</div>
          <div class='tab'>BOARD</div>
          <div class='tab'>CORE</div>
        </div>
        <div class='panels'>
          <div class='panel'>
            <div class="row fac-cor">
                <div class="col-md-6 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:100% ;">
                    <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/amitsir_3ARFhA2_kn.jpg?updatedAt=1633776906411" alt="" />
                    <div class="data">
                      <h5>Dr. B Amit Mahendrakar</h5>
                      <i>Director Of Student Welfare</i><br>
                      <a href="https://www.linkedin.com/in/amit-mahindrakar-a1110614" target="_blank" style="font-size: 24px;" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:100% ;">
                    <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/sasisir_nCFUak84yee.jpg?updatedAt=1633776912542" alt="" />
                    <div class="data">
                      <h5>Dr. S Sasikumar</h5>
                      <i>Director Of Academic Counselling</i><br>
                      <a href="https://in.linkedin.com/in/dr-s-sasikumar-a684a022?trk=public_profile_browsemap_profile-result-card_result-card_full-click" style="font-size: 24px;" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
          </div>
          </div>
          <div class='panel'>
            <div class="row board">
                <div class=" col-lg-2dot4 ">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/saksham_GvHbhjswF.jpg?updatedAt=1633776911628" alt="" />
                    <div class="data">
                      <h5>Saksham Jain</h5>
                      <i>Student Head</i><br>
                      <a href="https://www.linkedin.com/in/saksham10jain/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class=" col-lg-2dot4 ">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/jayesh_OIzIcACsR.jpg?updatedAt=1633776909237" alt="" />
                    <div class="data">
                      <h5>Jayesh Singh</h5>
                      <i>Student Coordinator</i><br>
                      <a href="https://www.linkedin.com/in/jayesh-singh-98872b1a1/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
               </div>
               <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width:80%; height:90% ;">
                  <img src="https://ik.imagekit.io/pjbsfzv5ci/zaina_wq5o7Az9FPQ?updatedAt=1633959018544" alt="" />
                  <div class="data">
                    <h5>Zaina Nizar</h5>
                    <i>Student Coordinator</i><br>
                    <a href="https://www.linkedin.com/in/zaina-jaffaree-nizar/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
              </div>
              <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width:80%; height:90% ;">
                  <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/hardik_MHWitnzBxEj.jpg?updatedAt=1633776908476" alt="" />
                  <div class="data">
                    <h5>P.V.V Hardhik</h5>
                    <i>Technical Head</i><br>
                    <a href="https://www.linkedin.com/in/hardhik-pvv-7152521a6/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
             </div>
             <div class=" col-lg-2dot4 ">
              <div class="cardT" style="width:80%; height:90% ;">
                <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/lakshit_T2yahTWOUMU.jpg?updatedAt=1633776910087" alt="" />
                <div class="data">
                  <h5>Lakshit Kothari</h5>
                  <i>Technical Head</i><br>
                  <a href="https://www.linkedin.com/in/lakshit-kothari-6569531a1/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
           </div>
           <div class=" col-lg-2dot4 ">
            <div class="cardT" style="width:80%; height:90% ;">
              <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/vaibhav_RIglFIkeZ.jpg?updatedAt=1633776913368" alt="" />
              <div class="data">
                <h5>Vaibhav Chopra</h5>
                <i>Projects Lead</i><br>
                <a href="https://www.linkedin.com/in/vc2001/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
          </div>
          <div class=" col-lg-2dot4 ">
            <div class="cardT" style="width:80%; height:90% ;">
              <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/abeer_kSMiPDeXvzSP.jpg?updatedAt=1633776905463" alt="" />
              <div class="data">
                <h5>Abeer Aftab</h5>
                <i>Design Head</i><br>
                <a href="https://www.linkedin.com/in/abeer-aftab-00274719a/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
         </div>
             <div class=" col-lg-2dot4 ">
              <div class="cardT" style="width:80%; height:90% ;">
                <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/anushka_FidGRjR8ygO.jpg?updatedAt=1633776906993" alt="" />
                <div class="data data1">
                  
                  <h5>Anushka Dixit</h5>
                  <i>Publicity & Public Relations Head</i><br>
                  <a href="https://www.linkedin.com/in/anushka-dixit-124612179/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
           </div>
           <div class=" col-lg-2dot4 ">
            <div class="cardT" style="width:80%; height:90% ;">
              <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/arunoday_9K3SaWVL6.jpg?updatedAt=1633776907685" alt="" />
              <div class="data data1">
                <h5 >Arunoday </h5>
                <i>Publicity & Public Relations Head</i><br>
                <a href="https://www.linkedin.com/in/arunodaybhattacharjee/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
         </div>
         <div class=" col-lg-2dot4 ">
          <div class="cardT" style="width:80%; height:90% ;">
            <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/manasvi_nKFFkVx86DR.jpg?updatedAt=1633776910869" alt="" />
            <div class="data data1">
              <h5>Manasvi</h5>
              <i>Events & Finance Head</i><br>
              <a href="https://www.linkedin.com/in/manasvi-alimchandani-934b49197/" target="_blank" class="fab fa-linkedin"></a>
            </div>
          </div>
       </div>
                </div>
          </div>
          <div class='panel'>
            <div class="row ">
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Abhinandita_h_I0uyfefUS.jpg?updatedAt=1633957111763" alt="" />
                    <div class="data data2">
                      <h5>Abhinandita Banerjee</h5>
                      <a href="https://www.linkedin.com/in/abhinandita-banerjee-43846b1bb/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Adeel_AqrusZrba.jpg?updatedAt=1633957112077" alt="" />
                     <div class="data data2">
                       <h5>Adeel Abdul Sakkeer</h5>
                       <a href="https://www.linkedin.com/in/adeel-as/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Akriti_i-gYHDSee.jpg?updatedAt=1633957112886" alt="" />
                     <div class="data data2">
                       <h5>Akriti Dalal</h5>
                       <a href="https://www.linkedin.com/in/akriti-dalal-026a49205/" target="_blank" class="fab fa-linkedin"></a>
         
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Akshatt_oKc0QAMpT3S.jpg?updatedAt=1633957113732" alt="" />
                     <div class="data data2">
                       <h5>Akshat Kain</h5>
                       <a href="https://www.linkedin.com/in/akshatt-kain-997853202/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Aman_GRF8Fu_f8.jpg?updatedAt=1633957114511" alt="" />
                     <div class="data data2">
                       <h5>Aman Ali Siddiqui</h5>
                       <a href="https://www.linkedin.com/in/-aman/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Jeyendra_qbihNFAWD.jpg?updatedAt=1633957125071" alt="" />
                     <div class="data data2">
                       <h5>Jeyendra Anala</h5>
                       <a href="https://www.linkedin.com/in/jeyendra-anala-1627a5207/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Avinash_nT3FuAQiU.jpeg?updatedAt=1633957115306" alt="" />
                     <div class="data data2">
                       <h5>Avinash Singh</h5>
                       <a href="https://www.linkedin.com/in/avinash-singh-b992ba1ba/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Bhoomi_9WNFkTeRmKya.jpg?updatedAt=1633957116125" alt="" />
                     <div class="data data2">
                       <h5>Bhoomi Abichandani</h5>
                       <a href="https://www.linkedin.com/in/bhoomi-abichandani-42322116b/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Chebrolu_Sai_Prasanna_Abhinav_7cnU-yY67.jpeg?updatedAt=1633957116972" alt="" />
                     <div class="data data2">
                       <h5>Abhinav Chebrolu</h5>
                       <a href="https://www.linkedin.com/in/abhinavchebrolu/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Chetan_haQ7lEoK12T.jpg?updatedAt=1633957117760" alt="" />
                     <div class="data data2">
                       <h5>Chetan Shiraguppi</h5>
                       <a href="https://www.linkedin.com/in/chetan-shiraguppi-7815971b7/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Daniya_O7oNQt16V.jpg?updatedAt=1633957118551" alt="" />
                    <div class="data data2">
                      <h5>Daniya Deo</h5>
                      <a href="https://www.linkedin.com/in/daniya-deo-2246461b9/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/Devavrat_2va0d6jX72?updatedAt=1634042088883" alt="" />
                    <div class="data data2">
                      <h5>Devavrat Dubale</h5>
                      <a href="https://www.linkedin.com/in/devavrat-dubale-b74749204/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Dwija_c6Qgl75pO.jpg?updatedAt=1633957119373" alt="" />
                     <div class="data data2">
                       <h5>Dwija Patel</h5>
                       <a href="https://www.linkedin.com/in/dwija-patel-2a65191b9/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Gauri_X6fjJZBSt.jpeg?updatedAt=1633957120176" alt="" />
                     <div class="data data2">
                       <h5>Gauri Gupta </h5>         
                      <a href="https://www.linkedin.com/in/gauri-gupta-31a0b6204/" target="_blank" class="fab fa-linkedin"></a>        
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Gokul_YKWpM1Euj9I.jpg?updatedAt=1633957122214" alt="" />
                     <div class="data data2">
                       <h5>Gokul Krishnan S</h5>
                       <a href="https://www.linkedin.com/in/gokulkkr/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Hrithik_zR9eQvZ-O.jpeg?updatedAt=1633957122722" alt="" />
                     <div class="data data2">
                       <h5>Hrithik Purwar</h5>
                       <a href="https://www.linkedin.com/in/hrithikpurwar/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Immanuel_ewJGbZo4EHN.jpg?updatedAt=1633957123452" alt="" />
                     <div class="data data2">
                       <h5>Immanuel Koshy</h5>
                       <a href="https://www.linkedin.com/in/immanuel-koshy-baa263187/" target="_blank" class="fab fa-linkedin"></a>                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Jayashree_P5eTPxSt5.jpg?updatedAt=1633957124254" alt="" />
                     <div class="data data2">
                       <h5>Jayashree Murugesan</h5>
                       <a href="https://www.linkedin.com/in/jayashree-murugesan/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Kavita_6ZsUOyQFSA9.jpg?updatedAt=1633957125908" alt="" />
                     <div class="data data2">
                       <h5>Kavita Nampoothiri</h5>
                       <a href="https://www.linkedin.com/in/kavita-nampoothiri-215441205/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Khushang_NLW4rGVeL.jpg?updatedAt=1633957126698" alt="" />
                     <div class="data data2">
                       <h5>Khushang Thakkar</h5>
                        <a href="https://www.linkedin.com/in/khushang-thakkar-581794205/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Khushboo_0XyHTCCzw.jpg?updatedAt=1633957127496" alt="" />
                     <div class="data data2">
                       <h5>Khushboo Nijhawan</h5>
                       <a href="https://www.linkedin.com/in/khushboo-nijhawan-745682201/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Md.Tiham_Hossain_vBo65wSQw.jpeg?updatedAt=1633957128347" alt="" />
                     <div class="data data2">
                       <h5>Md. Tiham Hossain</h5>
                       <a href="https://www.linkedin.com/in/md-tiham-hossain-013616202/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Megha_uWJswUBjF.jpg?updatedAt=1633957129130" alt="" />
                    <div class="data data2">
                      <h5>Megha Bhattacharya</h5>
                      <a href="https://www.linkedin.com/in/megha-bhattacharya-244a70207/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Niranjan_r5cYWUTSs.jpg?updatedAt=1633957130751" alt="" />
                     <div class="data data2">
                       <h5>Niranjan Kumar</h5>         
                       <a href="https://www.linkedin.com/in/niranjan-kumar-407a69207/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Nitish_wDHGwFlqf.jpg?updatedAt=1633957131565" alt="" />
                     <div class="data data2">
                       <h5>Nitish Kumar Bansal</h5>
                       <a href="https://www.linkedin.com/in/nitish-kumar-bansal-9b0b451a9/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Riddhi_g2Ke2vtlPI.jpg?updatedAt=1633957133156" alt="" />
                    <div class="data data2">
                      <h5>Riddhi Dhawan</h5>
                     <a href="https://www.linkedin.com/in/riddhi-dhawan-219b10204/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Rishit_OH79l7r4LY9.jpg?updatedAt=1633957134074" alt="" />
                     <div class="data data2">
                       <h5>Rishit Anand</h5>
                       <a href="https://www.linkedin.com/in/rishit-a-1832a9131/?fromQR=1" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Rohit_nd1Lm99e5.jpg?updatedAt=1633957134801" alt="" />
                    <div class="data data2">
                      <h5>Rohit Nandi</h5>
                      <a href="https://www.linkedin.com/in/rohit-nandi-5707a4207/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Roshan_Hl6mnoUTZ.jpeg?updatedAt=1633957135666" alt="" />
                    <div class="data data2">
                      <h5>Roshan Teja Kovilapati</h5>        
                      <a href="https://www.linkedin.com/in/roshan-teja-kovilapati-b1b961205/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                   <div class="cardT" style="width:80%; height:90% ;">
                     <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Ruthvik_WcOT9rS2WTO.jpg?updatedAt=1633957136472" alt="" />
                     <div class="data data2">
                       <h5>Ruthvik Aravind</h5>
                       <a href="https://www.linkedin.com/in/ruthvik-aravind-345708202/" target="_blank" class="fab fa-linkedin"></a>
                     </div>
                   </div>
                 </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Raaj_BFq8O4P0T0R.jpg?updatedAt=1633957132386" alt="" />
                    <div class="data data2">
                      <h5>S. Raaj Kumar</h5>
                      <a href="https://www.linkedin.com/in/raaj-kumar-a96040204/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                 <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Sachi_esNoAH17R1.jpg?updatedAt=1633957137220" alt="" />
                    <div class="data data2">
                      <h5>Sachi Kaushik</h5>
                      <a href="https://www.linkedin.com/in/sachi-kaushik-199216205/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Sahil_s8F1HOP4P1x.jpg?updatedAt=1633957138065" alt="" />
                    <div class="data data2">
                      <h5>Sahil Kaling</h5>
                      <a href="https://www.linkedin.com/in/sahil-kaling-5383641b8/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Samikshya_Fk4sKokxa.jpg?updatedAt=1633957138824" alt="" />
                    <div class="data data2">
                      <h5>Samikshya Sarangi</h5>
                      <a href="https://www.linkedin.com/in/samikshya-sarangi-435854202/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Sayam_hkdhdAFGhr2.jpg?updatedAt=1633957139843" alt="" />
                    <div class="data data2">
                      <h5>Sayam Sarkar</h5>
                      <a href="https://www.linkedin.com/in/sayam-sarkar-60833b203/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Shahil_KMSbxMd6k.jpg?updatedAt=1633957140498" alt="" />
                    <div class="data data2">
                      <h5>Shahil Choudhary</h5>
                      <a href="https://www.linkedin.com/in/shahil-choudhary-917300203/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Shashank_bwc81yHAk.jpg?updatedAt=1633957141319" alt="" />
                    <div class="data data2">
                      <h5>Shashank Suresh</h5>
                      <a href="https://www.linkedin.com/in/shashank-suresh-a59530147/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Shreyan_8zMvgtGY9-t.jpeg?updatedAt=1633957142131" alt="" />
                    <div class="data data2">
                      <h5>Shreyan Sanyal</h5>
                      <a href="https://www.linkedin.com/in/shreyan-sanyal-41937b1b0/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Sneha_0ocPHl0LT.jpg?updatedAt=1633957143923" alt="" />
                    <div class="data data2">
                      <h5>Sneha Gopalakrishnan</h5>
                      <a href="https://www.linkedin.com/in/snehagopalakrishnan/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Sksks_2qUM-HDx8.jpeg?updatedAt=1633957142945" alt="" />
                    <div class="data data2">
                      <h5>Sri Krishna Sai K.S</h5>        
                      <a href="https://www.linkedin.com/in/sksks0v0/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Srinivasan_Kafb03_S5No.jpeg?updatedAt=1633957144559" alt="" />
                    <div class="data data2">
                      <h5>Srinivasan R</h5>
                      <a href="https://www.linkedin.com/in/srinivasan-r-969435203/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Suhani_sMknQPNoR.jpeg?updatedAt=1633957145423" alt="" />
                    <div class="data data2">
                      <h5>Suhani Bajaj</h5>
                      <a href="https://www.linkedin.com/in/suhani-bajaj-654243200/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Tirth_pVCZVBybRSP.jpg?updatedAt=1633957146162" alt="" />
                    <div class="data data2">
                      <h5>Tirth Patel</h5>
                      <a href="https://www.linkedin.com/in/tirth-patel-3b0669204/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Gautam_Karthik_71qcRuBpQ.jpg?updatedAt=1633957121197" alt="" />
                    <div class="data data2">
                      <h5>V.Gautam Karthik</h5>
                      <a href="https://www.linkedin.com/in/gautam-karthik-v-40ba69207/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vasu_-wYLwLGqFD.jpg?updatedAt=1633957147025" alt="" />
                    <div class="data data2">
                      <h5>Vasu Garg</h5>
                      <a href="https://www.linkedin.com/in/vasu-garg-17a4b6203/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Ved_G3c1_CKdNh.jpg?updatedAt=1633957147837" alt="" />
                    <div class="data data2">
                      <h5>Ved Purohit</h5>
                      <a href="https://www.linkedin.com/in/ved-purohit-a4b0711b9/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-3 mb-3" align="center">
                  <div class="cardT" style="width:80%; height:90% ;">
                    <img src="https://ik.imagekit.io/pjbsfzv5ci/birme-500x500/Vidyarth_WY6jFdHL67c.jpg?updatedAt=1633957148605" alt="" />
                    <div class="data data2">
                      <h5>Vidyarth GS</h5>
                      <a href="https://www.linkedin.com/in/vidyarth-gs-1a1ab2202/" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
           </div>
          </div>
      </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script><script  src="./script.js"></script>
      <script>
          (function() {
  $(function() {
    var toggle;
    return toggle = new Toggle('.toggle');
  });

  this.Toggle = (function() {
    Toggle.prototype.el = null;

    Toggle.prototype.tabs = null;

    Toggle.prototype.panels = null;

    function Toggle(toggleClass) {
      this.el = $(toggleClass);
      this.tabs = this.el.find(".tab");
      this.panels = this.el.find(".panel");
      this.bind();
    }

    Toggle.prototype.show = function(index) {
      var activePanel, activeTab;
      this.tabs.removeClass('active');
      activeTab = this.tabs.get(index);
      $(activeTab).addClass('active');
      this.panels.hide();
      activePanel = this.panels.get(index);
      return $(activePanel).show();
    };

    Toggle.prototype.bind = function() {
      var _this = this;
      return this.tabs.unbind('click').bind('click', function(e) {
        return _this.show($(e.currentTarget).index());
      });
    };

    return Toggle;

  })();

}).call(this);

      </script>
      
    </body>
</html>
