<!DOCTYPE html>
<html lang="en" >

<head>

	<title>ISTE-VIT</title>
  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135071074-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-135071074-1");
</script>

<!-- Meta Tags For SEO -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
<meta name="subject" content="ISTE-VIT" />
<meta name="description"
  content="ISTE-VIT is a reputed visionary non-profit organisation determined to impart technical knowledge to inspire solutions with innovation, passion and excellence." />
<meta name="keywords"
  content="ISTE, iste, ISTE VIT, ISTE-VIT, vit, VIT, VIT-Vellore, Vit, Iste, Vellore, Student, Chapter, Club, club, CLUB, CHAPTER, chapter, Education, India, Indian, Society, Indian Society For Technical Education" />
<meta name="copyright" content="ISTE-VIT" />
<meta name="language" content="en" />
<meta name="url" content="https://istevit.in/" />
<meta name="coverage" content="Worldwide" />
<meta name="distribution" content="Global" />
<meta name="target" content="all" />
<meta name="rating" content="General" />
<meta name="og:country-name" content="India" />
<meta name="og:region" content="India" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://istevit.in/" />
<meta name="og:site_name" content="ISTE-VIT" />
<meta property="og:title" content="ISTE-VIT" />
<meta property="og:description"
  content="ISTE-VIT is a reputed visionary non-profit organisation determined to impart technical knowledge to inspire solutions with innovation, passion and excellence." />
<meta property="og:site_name" content="ISTE-VIT" />
<meta itemprop="name" content="ISTE-VIT" />
<meta itemprop="description"
  content="ISTE-VIT is a reputed visionary non-profit organisation determined to impart technical knowledge to inspire solutions with innovation, passion and excellence." />
<link rel="canonical" href="https://istevit.in/" />

<link rel="shortcut icon" href="/public/imgs/iste-footer.png">
<link rel="stylesheet" href="https://use.typekit.net/kxo3pgz.css">
	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/assets/owl.carousel.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link href="https://db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A" rel="stylesheet" type="text/css"/>
  <link href="https://db.onlinewebfonts.com/c/721c73bcd2e49f3a621991089838b503?family=Euclid+Circular+B+Medium" rel="stylesheet" type="text/css"/>
  <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>

</head>
<body class="team_body loading" >
<div class="cursor"></div>



<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class="logo" src="imgs/iste-logo.png" alt/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end hidenav" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr" aria-current="page" href="/#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr ltr3" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active  nav-act" href="/team">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-ltr ltr2" href="/gallery">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
      
      <div class='toggle'>
        <div class='tabs'>
          <div class='tab active'>FACULTY COORDINATORS</div>
          <div class='tab'>ADVISORY BOARD</div>
          <div class='tab'>BOARD</div>
          <div class='tab'>CORE</div>
        </div>
        <div class='panels'>
          <div class='panel'>
            <div class="row fac-cor">
                <div class="col-md-6 data-fac-cor" align="center" style="overflow-y: hidden;">
                  <div class="cardT fac-card" >
                    <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/amitsir_3ARFhA2_kn.jpg?updatedAt=1633776906411" alt="" />
                    <div class="data data-fac">
                      <h5>Dr. B Amit Mahendrakar</h5>
                      <i>Ex- Director Of Student Welfare</i><br>
                      <a href="https://www.linkedin.com/in/dr-amit-mahindrakar-a1110614/" target="_blank" style="font-size: 24px;" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 data-fac-cor" align="center">
                  <div class="cardT fac-card" >
                    <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/sasisir_nCFUak84yee.jpg?updatedAt=1633776912542" alt="" />
                    <div class="data data-fac">
                      <h5>Dr. S Sasikumar</h5>
                      <i>Professor, Department of Chemistry</i><br>
                      <a href="https://in.linkedin.com/in/dr-s-sasikumar-a684a022?trk=public_profile_browsemap_profile-result-card_result-card_full-click" style="font-size: 24px;" target="_blank" class="fab fa-linkedin"></a>
                    </div>
                  </div>
                </div>
          </div>
          </div>
          <div class='panel panel-board '>
            <div class="row board justify-content-center">
              <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
height: 264px;">
                  <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/saksham_GvHbhjswF.jpg?updatedAt=1633776911628" alt="" />
                  <div class="data">
                    <h5>Saksham Jain</h5>
                    <a href="https://www.linkedin.com/in/saksham10jain/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
              </div>
              <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
height: 264px;">
                  <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/jayesh_OIzIcACsR.jpg?updatedAt=1633776909237" alt="" />
                  <div class="data">
                    <h5>Jayesh Singh</h5>
                    <a href="https://www.linkedin.com/in/jayesh-singh-98872b1a1/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
              </div>
              <div class=" col-lg-2dot4 ">
              <div class="cardT" style="width: 250px;
height: 264px;">
                <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/zaina_vajacp9RTTH.jpg?updatedAt=1633776914101" alt="" />
                <div class="data">
                  <h5>Zaina Nizar</h5>
                  <a href="https://www.linkedin.com/in/zaina-jaffaree-nizar/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
              </div>
              <div class=" col-lg-2dot4 ">
              <div class="cardT" style="width: 250px;
height: 264px;">
                <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/hardik_MHWitnzBxEj.jpg?updatedAt=1633776908476" alt="" />
                <div class="data">
                  <h5>P.V.V Hardhik</h5>
                  <a href="https://www.linkedin.com/in/hardhik-pvv-7152521a6/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
              </div>
              <div class=" col-lg-2dot4 ">
            <div class="cardT" style="width: 250px;
height: 264px;">
              <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/lakshit_T2yahTWOUMU.jpg?updatedAt=1633776910087" alt="" />
              <div class="data">
                <h5>Lakshit Kothari</h5>
                <a href="https://www.linkedin.com/in/lakshit-kothari-6569531a1/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
              </div>
              <div class=" col-lg-2dot4 ">
          <div class="cardT" style="width: 250px;
height: 264px;">
            <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/vaibhav_RIglFIkeZ.jpg?updatedAt=1633776913368" alt="" />
            <div class="data">
              <h5>Vaibhav Chopra</h5>
              <a href="https://www.linkedin.com/in/vc2001/" target="_blank" class="fab fa-linkedin"></a>
            </div>
          </div>
              </div>
              <div class=" col-lg-2dot4 ">
          <div class="cardT" style="width: 250px;
height: 264px;">
            <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/abeer_kSMiPDeXvzSP.jpg?updatedAt=1633776905463" alt="" />
            <div class="data">
              <h5>Abeer Aftab</h5>
              <a href="https://www.linkedin.com/in/abeer-aftab-00274719a/" target="_blank" class="fab fa-linkedin"></a>
            </div>
          </div>
              </div>
              <div class=" col-lg-2dot4 ">
            <div class="cardT" style="width: 250px;
height: 264px;">
              <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/anushka_FidGRjR8ygO.jpg?updatedAt=1633776906993" alt="" />
              <div class="data data1">
                
                <i>Publicity & Public Relations Head</i><br>
                <a href="https://www.linkedin.com/in/anushka-dixit-124612179/" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
              </div>
              <div class=" col-lg-2dot4 ">
          <div class="cardT" style="width: 250px;
height: 264px;">
            <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/arunoday_9K3SaWVL6.jpg?updatedAt=1633776907685" alt="" />
            <div class="data data1">
              <h5 >Arunoday </h5>
              <a href="https://www.linkedin.com/in/arunodaybhattacharjee/" target="_blank" class="fab fa-linkedin"></a>
            </div>
          </div>
              </div>
              <div class=" col-lg-2dot4 ">
        <div class="cardT" style="width: 250px;
height: 264px;">
          <img src="https://ik.imagekit.io/m47q5r0txpn/iste-core/manasvi_nKFFkVx86DR.jpg?updatedAt=1633776910869" alt="" />
          <div class="data data1">
            <h5>Manasvi </h5>
            <a href="https://www.linkedin.com/in/manasvi-alimchandani-934b49197/" target="_blank" class="fab fa-linkedin"></a>
          </div>
        </div>
              </div>
            </div>
          </div>
          <div class='panel panel-board'>
            <div class="row board justify-content-center">
              <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/Tirth__1__V64h3Xxwu.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657654245275" alt="" />
                  <div class="data">
                    <h5>Tirth Patel</h5>
                    <i>Chairperson</i><br>
                    <a href="https://in.linkedin.com/in/tirth-patel-3b0669204" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
              </div>
              <div class=" col-lg-2dot4 ">
                <div class="cardT" style="width: 250px;
height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/ISTE_picture_UTgJ3lj_2.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657654243442" alt="" />
                  <div class="data">
                    <h5>Ved Purohit</h5>
                    <i>Vice Chairperson</i><br>
                    <a href="https://in.linkedin.com/in/ved-purohit-a4b0711b9" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
              </div>
              <div class=" col-lg-2dot4 ">
              <div class="cardT" style="width: 250px;
height: 264px;">
                <img src="https://ik.imagekit.io/nitishr/aman_YzyLf2yXG.heic?ik-sdk-version=javascript-1.4.3&updatedAt=1657654242145" alt="" />
                <div class="data">
                  <h5>Aman Ali Siddiqui</h5>
                  <i>Secretary</i><br>
                  <a href="https://in.linkedin.com/in/-aman" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
              </div>
              <div class=" col-lg-2dot4 ">
              <div class="cardT" style="width: 250px;
height: 264px;">
                <img src="https://ik.imagekit.io/nitishr/khushboo_R-3jEuIAm.jpg?updatedAt=1657654338050&tr=w-1002,h-1154,fo-custom,cm-extract" alt="" />
                <div class="data">
                  <h5>Khushboo Nijhawan</h5>
                  <i>Co-Secretary</i><br>
                  <a href="https://in.linkedin.com/in/khushboonijhawan?trk=people-guest_people_search-card" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
              </div>
              <div class=" col-lg-2dot4 ">
            <div class="cardT" style="width: 250px;
height: 264px;">
              <img src="https://ik.imagekit.io/nitishr/vidyarth_board_JbBRLiqFV.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657654248355" alt="" />
              <div class="data">
                <h5>Vidyarth G S</h5>
                <i>Technical Head</i><br>
                <a href="https://in.linkedin.com/in/vidyarth-gs" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
              </div>
              <div class=" col-lg-2dot4 ">
          <div class="cardT" style="width: 250px;
height: 264px;">
            <img src="https://ik.imagekit.io/nitishr/sahil_LAwuKLofk.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657654244409" alt="" />
            <div class="data">
              <h5>Sahil Kaling</h5>
              <i>Projects Head</i><br>
              <a href="https://in.linkedin.com/in/sahilkaling" target="_blank" class="fab fa-linkedin"></a>
            </div>
          </div>
              </div>
              <div class=" col-lg-2dot4 ">
          <div class="cardT" style="width: 250px;
height: 264px;">
            <img src="https://ik.imagekit.io/nitishr/hrithik_iste_1__jw4F3zMXH.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657654627971" alt="" />
            <div class="data">
              <h5>Hrithik Purwar</h5>
              <i>Design Head</i><br>
              <a href="https://in.linkedin.com/in/hrithikpurwar" target="_blank" class="fab fa-linkedin"></a>
            </div>
          </div>
              </div>
              <div class=" col-lg-2dot4 ">
            <div class="cardT" style="width: 250px;
height: 264px;">
              <img src="https://ik.imagekit.io/nitishr/Riddhi_ZGWpe73UM.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657654244806" alt="" />
              <div class="data data1">
                
                <h5>Riddhi Dhawan</h5>
                <i>Publicity & Public Relations Head</i><br>
                <a href="https://in.linkedin.com/in/riddhi-dhawan-219b10204" target="_blank" class="fab fa-linkedin"></a>
              </div>
            </div>
              </div>
              <div class=" col-lg-2dot4 ">
          <div class="cardT" style="width: 250px;
height: 264px;">
            <img src="https://ik.imagekit.io/nitishr/Gokul_Krishnan_S_iCPWteSiU.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657654247251" alt="" />
            <div class="data data1">
              <h5 >Gokul Krishnan </h5>
              <i>R&D Head</i><br>
              <a href="https://in.linkedin.com/in/gokulkkr" target="_blank" class="fab fa-linkedin"></a>
            </div>
          </div>
              </div>
              <div class=" col-lg-2dot4 ">
        <div class="cardT" style="width: 250px;
height: 264px;">
          <img src="https://ik.imagekit.io/nitishr/Akriti__fPJ6FkCNz.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657654241521" alt="" />
          <div class="data data1">
            <h5>Akriti Dalal </h5>
            <i>Events & Finance Head</i><br>
            <a href="https://in.linkedin.com/in/akriti-dalal" target="_blank" class="fab fa-linkedin"></a>
          </div>
        </div>
              </div>
            </div>
          </div>
          <div class='panel panel-board' style="padding-top: 20px;">
            <div class="row justify-content-center">
              <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/ISTE_PIC_x6rZ4DrD2.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048136195" alt="" />
                  <div class="data data2">
                    <h5>Abhishek Murthy</h5>
                    <a href="https://www.linkedin.com/in/abhishek-murthy-4bba88203/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220706_131546_Nrk25_qe1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657110513859" alt="" />
                  <div class="data data2">
                    <h5>Adarsh J</h5>
                    <a href="https://www.linkedin.com/in/adarsh-j-273bba236" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/WhatsApp_Image_2022-04-14_at_11.38.47_AM_txTeT-FAK.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048825207" alt="" />
                  <div class="data data2">
                    <h5>Addala Akash Varma</h5>
                    <a href="https://www.linkedin.com/in/akash-varma-addala-7b071421a/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/adhiraj__dYGdFJVK.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657475458900" alt="" />
                  <div class="data data2">
                    <h5>Adhiraj Singh Chauhan</h5>
                    <a href="https://www.linkedin.com/in/adhirajchauhan/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/agrima21bec2304_k9tQdS89R.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048825498" alt="" />
                  <div class="data data2">
                    <h5>Agrima Tripathi</h5>
                    <a href="https://www.linkedin.com/in/agrima-tripathi-233m" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Aishwarya_Arvapalli_tMMQweJTr.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048825778" alt="" />
                  <div class="data data2">
                    <h5>Aishwarya Arvapalli</h5>
                    <a href="https://www.linkedin.com/in/aishwarya-arvapalli-851979175" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/SAVE_20220413_220156_LfDf1eVR7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048826264" alt="" />
                  <div class="data data2">
                    <h5>Alisa banerjee</h5>
                    <a href="http://linkedin.com/in/alisa-banerjee-9b3589235/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Alwin_-_ISTE_3BM9S5IPI.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048826466" alt="" />
                  <div class="data data2">
                    <h5>Alwin Shaji Koshy</h5>
                    <a href="https://www.linkedin.com/in/alwin-s-k-301793234" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Amaan09_aQBfM_xCG.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657092073095" alt="" />
                  <div class="data data2">
                    <h5>Amaan Mohd Syed</h5>
                    <a href="https://www.linkedin.com/in/amaan-mohd-syed-116507217/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/Ananay_u6IuhwJwh.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657475337456" alt="" />
                  <div class="data data2">
                    <h5>Ananay Gupta</h5>
                    <a href="https://www.linkedin.com/in/ananay-gupta-2944aa216/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/20220521_215425-01_WmoZ75dBm.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048827006" alt="" />
                  <div class="data data2">
                    <h5>Anand Kholwadiya</h5>
                    <a href="http://www.linkedin.com/in/anand-kholwadiya-06107a225" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG-20220413-WA0074_tgAVmx0Aje.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048826992" alt="" />
                  <div class="data data2">
                    <h5>Ananya shekhar</h5>
                    <a href="https://www.linkedin.com/in/ananya-shekhar-182734230/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_5167_m6SvOxO40.HEIC?ik-sdk-version=javascript-1.4.3&updatedAt=1657110621552" alt="" />
                  <div class="data data2">
                    <h5>Ansh Goenka</h5>
                    <a href="https://www.linkedin.com/in/anshgoenka" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/WhatsApp_Image_2022-04-13_at_9.29.11_PM_jgpzfc9o2.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048827355" alt="" />
                  <div class="data data2">
                    <h5>Ansh Verma</h5>
                    <a href="https://www.linkedin.com/in/ansh-vermaaaa" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/ANUSHK_PANDEY_JPG_SJZZSWREx.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048828113" alt="" />
                  <div class="data data2">
                    <h5>Anushk Pandey</h5>
                    <a href="https://www.linkedin.com/in/anushk-pandey-b85a631b3/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220414_000233_9H0HYpeGo.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048828052" alt="" />
                  <div class="data data2">
                    <h5>Archit Patro</h5>
                    <a href="https://www.linkedin.com/in/archit-patro-8bb6b7236" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_0135_kCrRh9gOCV.PNG?ik-sdk-version=javascript-1.4.3&updatedAt=1657048828165" alt="" />
                  <div class="data data2">
                    <h5>Aryaman Awasthi</h5>
                    <a href="https://www.linkedin.com/in/aryaman-awasthi/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_6719_hcnFgDAjE.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048829104" alt="" />
                  <div class="data data2">
                    <h5>Asim Nepal</h5>
                    <a href="https://www.linkedin.com/in/asim-nepal-6689b5202/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
           
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/ayushi_iste_dfftBQ1Zc.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048828985" alt="" />
                  <div class="data data2">
                    <h5>Ayushi Sinha</h5>
                    <a href="https://www.linkedin.com/in/ayushi-sinha-aa17a2236/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Camelia_Ganguly_21BEC0404_ao7j13zL5.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048829107" alt="" />
                  <div class="data data2">
                    <h5>Camelia Ganguly</h5>
                    <a href="https://www.linkedin.com/in/camelia-ganguly-995634222/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Dushyant_Rajeev_Bhardwaj_21BCE0154_LCDj2jGMX.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048829439" alt="" />
                  <div class="data data2">
                    <h5>Dushyant</h5>
                    <a href="https://www.linkedin.com/in/dushyant-bhardwaj-a6453b116/ " target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <!-- <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="" alt="" />
                  <div class="data data2">
                    <h5>Eshan Ratnesh Srivastava </h5>
                    <a href="https://www.linkedin.com/in/eshanrs/ "></a>
                  </div>
                </div>
            </div> -->
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/girish_V9YioPg4-.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048829699" alt="" />
                  <div class="data data2">
                    <h5>Girish Murugan </h5>
                    <a href="https://www.linkedin.com/in/girish0606/ " target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Gowtham_Karthikeyan_S_Wxo1WdSwBv.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048830009" alt="" />
                  <div class="data data2">
                    <h5>Gowtham kartikeyan</h5>
                    <a href="https://www.linkedin.com/in/inboxsgk/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="" alt="" />
                  <div class="data data2">
                    <h5>Harshal  </h5>
                    <a href="https://www.linkedin.com/in/harshal-bhure-71a294245" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Himika_Bhagwat_21BCI0018_yMcmGoEVi.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048830572" alt="" />
                  <div class="data data2">
                    <h5>Himika Bhagwat </h5>
                    <a href="https://www.linkedin.com/in/isha-rathee-1777011b4/ " target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220413_213746_302_0vxjCqZG8.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657110967318" alt="" />
                  <div class="data data2">
                    <h5>Isha Rathee </h5>
                    <a href="https://www.linkedin.com/in/isha-rathee-1777011b4/ " target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Ishaan_Purohit_21BCE2213_6ptGj_Da_.JPEG?ik-sdk-version=javascript-1.4.3&updatedAt=1657048845897" alt="" />
                  <div class="data data2">
                    <h5>Ishaan Purohit</h5>
                    <a href="https://www.linkedin.com/in/ishaan-purohit-779742230/"  target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/ishank_EHSyyCFYe.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657048830843" alt="" />
                  <div class="data data2">
                    <h5>ISHANK BHATNAGAR</h5>
                    <a href="https://www.linkedin.com/in/ishank-bhatnagar-8033a0217/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
              <div class="cardT" style="width: 250px; height: 264px;">
                <img src="https://ik.imagekit.io/11b646uhq/IMG_20220706_134128_HMstMBE7-.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657110967092" alt="" />
                <div class="data data2">
                  <h5>Ishank Goel</h5>
                  <a href="https://www.linkedin.com/in/ishank-goel-3430831b5/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
              <div class="cardT" style="width: 250px; height: 264px;">
                <img src="https://ik.imagekit.io/11b646uhq/IMG_20220413_204501_ZFIu6Njk5.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048831375" alt="" />
                <div class="data data2">
                  <h5>Kahaan Soni</h5>
                  <a href="https://www.linkedin.com/in/kahaan-soni-70394622b/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
              <div class="cardT" style="width: 250px; height: 264px;">
                <img src="https://ik.imagekit.io/11b646uhq/IMG_6583_mhoQTfuDr.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1657048831597" alt="" />
                <div class="data data2">
                  <h5>Kashish Jain</h5>
                  <a href="https://www.linkedin.com/in/kashish-jain-681983220/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
              <div class="cardT" style="width: 250px; height: 264px;">
                <img src="https://ik.imagekit.io/11b646uhq/Keertana_Jayagopal_21BCE3468_Tg6ufqUEJ.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048831894" alt="" />
                <div class="data data2">
                  <h5>Keerthana jayagopal</h5>
                  <a href="https://www.linkedin.com/in/keertana-jayagopal-33b43822a" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
              <div class="cardT" style="width: 250px; height: 264px;">
                <img src="https://ik.imagekit.io/11b646uhq/IMG_2114_MKCHwA47P.HEIC?ik-sdk-version=javascript-1.4.3&updatedAt=1657110967055" alt="" />
                <div class="data data2">
                  <h5>Kuleen Thejas</h5>
                  <a href="https://www.linkedin.com/in/kuleen-thejas-0730481b4/" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_0102_yep6brX0M.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048832151" alt="" />
                  <div class="data data2">
                    <h5>Mohammed Rizwan A</h5>
                    <a href="https://www.linkedin.com/in/mohamed-rizwan-985770226" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
              <div class="cardT" style="width: 250px; height: 264px;">
                <img src="https://ik.imagekit.io/11b646uhq/Mukund_Jain_21BCL0173_Q7sQ1WnBu.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657099473823" alt="" />
                <div class="data data2">
                  <h5>Mukund Jain</h5>
                  <a href="https://www.linkedin.com/in/mukund-jain-6a4432230" target="_blank" class="fab fa-linkedin"></a>
                </div>
              </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/naksh_8MQ1Hd-LR.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657636937342" alt="" />
                  <div class="data data2">
                    <h5>Nakshatra Singh Raghav</h5>
                    <a href="https://www.linkedin.com/in/nakshatra-raghav-b5504121a/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG20220413211633__2__T96W8HORk.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048833041" alt="" />
                  <div class="data data2">
                    <h5>Nandakumar Loganathan</h5>
                    <a href="https://www.linkedin.com/in/nandakumar-loganathan-379533226" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Neelanjan_21BCE0175__MM-sgx_z_.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048833649" alt="" />
                  <div class="data data2">
                    <h5>Neelanjan Mukherjee</h5>
                    <a href="https://www.linkedin.com/in/rachit-jajoo-882a76236/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/nimisha_iste_lWi185GqD.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048833495" alt="" />
                  <div class="data data2">
                    <h5>Nimisha Kumari</h5>
                    <a href="https://www.linkedin.com/in/nimisha-kumari-29ba22230/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Nitish_Ramaraj_hbgPBuJCA.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657048834605" alt="" />
                  <div class="data data2">
                    <h5>Nitish Ramaraj</h5>
                    <a href="https://www.linkedin.com/in/nitish-ramaraj/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/om_desai_9iyAvlOKn.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657562969979" alt="" />
                  <div class="data data2">
                    <h5>Om Desai</h5>
                    <a href="https://www.linkedin.com/in/om-desai-92a245223/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Santhan_Varma_21BEC2018_ahth-CskN.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048837581" alt="" />
                  <div class="data data2">
                    <h5>P.Santhan varma</h5>
                    <a href="https://www.linkedin.com/in/santhan-varma-0796b7236" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/PHOTO-2022-04-13-21-04-30_8QV6xkgNQ.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048834161" alt="" />
                  <div class="data data2">
                    <h5>Pranav D</h5>
                    <a href="https://www.linkedin.com/in/varun-sudhir-b097ab228/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220413_171446_Bokeh__01_V--O2Fcnx.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048834787" alt="" />
                  <div class="data data2">
                    <h5>Priyanshi Shah</h5>
                    <a href="linkedin.com/in/priyanshi-shah-2556aa236/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/Rachith_5hK1SvJsC.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657605249659" alt="" />
                  <div class="data data2">
                    <h5>Rachit Jajoo</h5>
                    <a href="https://www.linkedin.com/in/rachit-jajoo-882a76236/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220413_214347_HAYT5SOTPl.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048834656" alt="" />
                  <div class="data data2">
                    <h5>Ramakrishna Naidu. Kuna</h5>
                    <a href="https://www.linkedin.com/in/rachit-jajoo-882a76236/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220413_203351_581_2_UVHA0gJcTH.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048834875" alt="" />
                  <div class="data data2">
                    <h5>Rashmi MT</h5>
                    <a href="https://www.linkedin.com/in/rashmi-mt-674677230/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/Rishabh_NArrCPf7Q.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657475337538" alt="" />
                  <div class="data data2">
                    <h5>Rishab</h5>
                    <a href="https://www.linkedin.com/in/rishab-deswal-28562b214/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/ISTE_photo__Ritesh_Nayak__6M9thhWV-.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657048835691" alt="" />
                  <div class="data data2">
                    <h5>Ritesh Nayak</h5>
                    <a href="https://www.linkedin.com/in/ritesh-nayak-97aa79236/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220413_213656_HrgoiU9pB.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048836059" alt="" />
                  <div class="data data2">
                    <h5>Rupam Kundu</h5>
                    <a href="https://www.linkedin.com/in/rupam-kundu-9b4816216" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Saakshi_21BCE2325_YQj0NqyzK.JPG?ik-sdk-version=javascript-1.4.3&updatedAt=1657048836299" alt="" />
                  <div class="data data2">
                    <h5>Saakshi Singh Chauhan</h5>
                    <a href="https://www.linkedin.com/in/saakshi-chauhan-880003217/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/3650be99-c81d-4336-b2ba-f2ef41d41339_G08tVAiuN.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048836564" alt="" />
                  <div class="data data2">
                    <h5>Sai Krishna Pranay Kasnietti</h5>
                    <a href="https://www.linkedin.com/in/pranay-kanisetty-4802611aa/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Sai_Sahith_21BIT0175_rApBuweq6.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048837171" alt="" />
                  <div class="data data2">
                    <h5>Sai Sahith Bonugala</h5>
                    <a href="https://www.linkedin.com/in/sai-sahith/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/2022-04-13-19-10-56-007-01_qvmzsmzF7.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048838126" alt="" />
                  <div class="data data2">
                    <h5>Satvik Jain</h5>
                    <a href="https://www.linkedin.com/in/satvik-jain-875944230/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Satyam_Shivam_21BEC2225_PDDTPPuyy.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048838278" alt="" />
                  <div class="data data2">
                    <h5>Satyam Shivam</h5>
                    <a href="https://www.linkedin.com/in/satyamsh1vam/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220413_190811613_1WeJ0VpoQ.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048838337" alt="" />
                  <div class="data data2">
                    <h5>Shashank Nair</h5>
                    <a href="https://www.linkedin.com/in/shashaank-nair-6a9831236" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/photo_O7Urc_x3YX.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048838773" alt="" />
                  <div class="data data2">
                    <h5>Shashank Suggala</h5>
                    <a href="https://www.linkedin.com/in/shashank-suggala-7ab488200/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_20220706_150519_R71FzcIB4.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657110966723" alt="" />
                  <div class="data data2">
                    <h5>Shashwat Wankhedekar</h5>
                    <a href="https://www.linkedin.com/in/shashwatwankhedekar/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/WhatsApp_Image_2022-07-06_at_6.04.13_PM_W8NT7UVNm.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657111126380" alt="" />
                  <div class="data data2">
                    <h5>Shatakshi Mohan</h5>
                    <a href="https://www.linkedin.com/in/shatakshi-mohan-39b630222" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Shinjini_Sen_ymSkSR04M.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048839579" alt="" />
                  <div class="data data2">
                    <h5>Shinjini Sen</h5>
                    <a href="https://www.linkedin.com/in/shinjinisen-24032003" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/ShruthiKrishnamoorthy_21BCE0092_HWt26FInb.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048839723" alt="" />
                  <div class="data data2">
                    <h5>Shruthi Krishnamoorthy</h5>
                    <a href="https://www.linkedin.com/in/shruthi-krishnamoorthy-66b5871aa/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/soumya_p21Zm34gR5.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657475337759" alt="" />
                  <div class="data data2">
                    <h5>Soumya Gupta</h5>
                    <a href="https://www.linkedin.com/in/soumya-gupta-b92156227/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/WhatsApp_Image_2022-04-13_at_10_Fotor_J9ojsP-r8.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048839833" alt="" />
                  <div class="data data2">
                    <h5>Srujan Kulkarani</h5>
                    <a href="https://www.linkedin.com/in/srujan-kulkarni-6476aa222/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/suryakanth_nmutoKcri.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657638210677" alt="" />
                  <div class="data data2">
                    <h5>Suryakant Tripathi</h5>
                    <a href="https://www.linkedin.com/in/srujan-kulkarni-6476aa222/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="" alt="" />
                  <div class="data data2">
                    <h5>Tanisha Chandak</h5>
                    <a href="https://www.linkedin.com/in/tanishachandak/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/ISTE_ii9NqeZJ9.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657048840185" alt="" />
                  <div class="data data2">
                    <h5>Taniya</h5>
                    <a href="https://www.linkedin.com/in/taniya-ahmed-507283222/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/20220413_155620_Ek6GvVLEp.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048840341" alt="" />
                  <div class="data data2">
                    <h5>Tanmay Agarwal</h5>
                    <a href="https://www.linkedin.com/in/tanmay-agarwal-681666224" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Tanmayprofesh04_EHr25NQEv.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657048840654" alt="" />
                  <div class="data data2">
                    <h5>Tanmey Vinod Khade</h5>
                    <a href="https://www.linkedin.com/in/tanmay-khade-86388422b/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Uddipan_Sarkar_21BCE0755_RVtLmynPB.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048842321" alt="" />
                  <div class="data data2">
                    <h5>Uddipan Sarkar</h5>
                    <a href="https://www.linkedin.com/in/uddipan-sarkar-457a24236/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Iste_9uQQ1Jol7.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048842726" alt="" />
                  <div class="data data2">
                    <h5>Vaishnavi Garg</h5>
                    <a href="https://www.linkedin.com/in/vaishnavi-garg-078379216" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/IMG_2869_MWKHTdwBwC.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657048843289" alt="" />
                  <div class="data data2">
                    <h5>Vandit Vasa</h5>
                    <a href="https://www.linkedin.com/in/vandit-vasa-bb506317a/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/Vanya_Nandwani_21BEC0434_MANAGEMENT_sliLqyyhY.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048843826" alt="" />
                  <div class="data data2">
                    <h5>Vanya Nandwani</h5>
                    <a href="https://www.linkedin.com/in/vanyanandwani" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/WhatsApp_Image_2022-04-13_at_5.00.45_PM-removebg-preview-removebg-preview_Gg5a1mcZ1.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1657048844425" alt="" />
                  <div class="data data2">
                    <h5>Varun Sudhir</h5>
                    <a href="https://www.linkedin.com/in/varun-sudhir-b097ab228/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/11b646uhq/d0cedffd-c97d-4c51-979b-6efbbc3fe8ed__HHVkAcdS.jfif?ik-sdk-version=javascript-1.4.3&updatedAt=1657048844481" alt="" />
                  <div class="data data2">
                    <h5>Vineet Salimath</h5>
                    <a href="https://www.linkedin.com/in/vineet-salimath-08b962182/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>                
            <div class="col-lg-2dot4 " align="center">
                <div class="cardT" style="width: 250px; height: 264px;">
                  <img src="https://ik.imagekit.io/nitishr/yatharth_bharad_3FRM_3rLu.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1657604912374" alt="" />
                  <div class="data data2">
                    <h5>Yatharth Bharadwaj</h5>
                    <a href="https://www.linkedin.com/in/yatharth-bhardwaj-0b1a77222/" target="_blank" class="fab fa-linkedin"></a>
                  </div>
                </div>
            </div>
           </div>
          </div>
         
      </div>


      
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
      <script src="/public/js/index.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.halo.min.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.1/owl.carousel.min.js'></script>

     <script>
       
          (function() {
  $(function() {
    var toggle;
    return toggle = new Toggle('.toggle');
  });
  this.Toggle = (function() {
    Toggle.prototype.el = null;
    Toggle.prototype.tabs = null;
    Toggle.prototype.panels = null;
    function Toggle(toggleClass) {
      this.el = $(toggleClass);
      this.tabs = this.el.find(".tab");
      this.panels = this.el.find(".panel");
      this.bind();
    }
    Toggle.prototype.show = function(index) {
      var activePanel, activeTab;
      this.tabs.removeClass('active');
      activeTab = this.tabs.get(index);
      $(activeTab).addClass('active');
      this.panels.hide();
      activePanel = this.panels.get(index);
      return $(activePanel).show();
    };
    Toggle.prototype.bind = function() {
      var _this = this;
      return this.tabs.unbind('click').bind('click', function(e) {
        return _this.show($(e.currentTarget).index());
      });
    };
    return Toggle;
  })();
}).call(this);

var loader = document.getElementById("loader-fade");


window.addEventListener ("load", function() {
  document.body.classList.remove('loading');
});

$(".navbar-collapse a").click(function () {
    $(".navbar-collapse").toggleClass("hidenav");
  });

  $(".navbar-toggler").click(function () {
    $(".navbar-collapse").toggleClass("hidenav");
  });

  const updateProperties = (elem, state) => {
  elem.style.setProperty('--x', `${state.x}px`)
  elem.style.setProperty('--y', `${state.y}px`)
  elem.style.setProperty('--width', `${state.width}px`)
  elem.style.setProperty('--height', `${state.height}px`)
  elem.style.setProperty('--radius', state.radius)
  elem.style.setProperty('--scale', state.scale)
}

document.querySelectorAll('.cursor').forEach(cursor => {
  let onElement

  const createState = e => {
    const defaultState = {
      x: e.clientX,
      y: e.clientY,
      width: 40,
      height: 40,
      radius: '50%'
    }

    const computedState = {}

    if (onElement != null) {
      const { top, left, width, height } = onElement.getBoundingClientRect()
      const radius = window.getComputedStyle(onElement).borderTopLeftRadius

      computedState.x = left + width / 2
      computedState.y = top + height / 2
      computedState.width = width
      computedState.height = height
      computedState.radius = radius
    }

    return {
      ...defaultState,
      ...computedState
    }
  }

  document.addEventListener('mousemove', e => {
    const state = createState(e)
    updateProperties(cursor, state)
  })

})
      </script>
      
    </body>
</html>